/*generelle indstillinger */

html {
background-color: black;
font-family: 'Roboto', sans-serif;
font-size: .4em;
}

body {
    /* Vi sikrer os lige at skærmen kan fyldes helt ud! */
    background-color: black;
    max-width: 1920px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/*TYPOGRAFI*/
a {
text-decoration: none;
}

P {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    max-width: 50ch;
}

h2 {
    font-size: 1rem;
    font-weight: bolder;
}

.h1b {
color: white;
margin-left: 10px;
font-family: 'Righteous', cursive;
font-size: 3rem;
text-align: center;
}

.p1b {
color: white;
margin-left: 10px;
font-family: 'Righteous', cursive;
font-size: 2rem;
text-align: center;
}

.h2 {
color: white;
margin-left: 10px;
font-family: 'Spicy Rice', cursive;
font-size: 1.5rem;
}

.p2 {
color: white;
margin-left: 10px;
font-family: 'Quicksand', sans-serif;
font-size: 1rem;
font-weight: bold;
}


.h2b {
color: white;
margin-left: 10px;
font-family: 'Permanent Marker', cursive;
font-size: 2rem;
text-align: center;

}

.p2b {
color: white;
margin-left: 10px;
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
text-align: center;

}

.p2c {
margin-left: 10px;
font-family: 'Roboto', sans-serif;
font-size: 1rem;
font-weight: bold;
}

.h3 {
color: white;
margin-left: 20px;
font-family: 'Allerta Stencil', sans-serif;
font-size: 2.5rem;

}

.p3 {
color: white;
margin-left: 30%;
font-family: 'Allerta Stencil', sans-serif;
font-size: 1.5rem;

}

.h4 {
color: black;
font-family: 'Allerta Stencil', sans-serif;
font-size: 2rem;
margin-left: 5em;
font-weight: bold;
}

.p4 {
color: black;
font-family: 'Indie Flower', cursive;font-size: 1.5rem;
margin-left: 3em;
line-height: 2em;
}

/*HEADER*/
header {
display: grid;
grid-column: 1fr;
grid-row: 1fr 1fr;
padding-top: 2rem;

}

    nav.hidden {
    display: none;
}

.menubutton {
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;
}

.bar {
    width: 3em;
    height: 0.4em;
    transition: transform .5s;
    background-color: white;
    z-index: 0;
}

.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    visibility: hidden;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px);
}

nav {
    position: absolute;
    background-color: rgba(000, 000, 000, 0.78);
    width: 400px;
    transform: translateY(0);
    transform-origin: top;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    transition: transform .5s;
    z-index: 0;
    text-decoration: none;
    border: none;
}

.hidden {
    transform: translateY(-200px);
}

nav a {
    text-decoration: none;
    font-size: 1.2em
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.top1 {

display: grid;
grid-template-columns: 1fr 8fr 1fr;
grid-template-rows: 1fr;
background-color: black;
}

.logo {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
}

.logo img {
margin-top: .5rem;
margin-bottom: .5rem;
margin-right: .5rem;
width: 70%;
height: 70%;
}

.adresse {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}


.burgercontainer {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 1rem;
    margin-left: 1.4rem;
}

.top2 {

display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1rem 10rem 1rem;
background-color: white;

}

.top2 {
display: flex;
align-items: center;
}

.toph2 {
color: white;
font-weight: bold;
font-family: 'Rokkitt', serif;
font-size: 1.rem;
line-height: .5rem;
margin-left: 2rem;
margin-right: 2rem;
}

.topp {
color: white;
font-family: 'Rokkitt', serif;
font-size: 1.rem;
line-height: .5rem;
margin-left: 2rem;
margin-right: 2rem;
font-weight: bold;
}

.logo_hvid {
grid-row: 2/3;
}

.logo_hvid img {
margin-top:3rem;
margin-bottom:3rem;
margin-left: 3rem;
width: 15%;
}


/*content*/

article {
    margin: 0;
}

.l1 {
    background-color: #bc0d36;
}

.l1b {
    background-color: #bc0d36;
}

/*
#arrowup {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid red;
}
 */

.l2 {
    background-color: #161721;
}

.l2b {
    background-color: #5F5F63;
}

.l3 {
    background-color: #ff2458;
    background-image: url("baggrund.png");
}

.l4 {
background-image: url("baggrund2.png");
}

/*bundmenu*/
.bundcontainer {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.menup {
font-family: 'Rokkitt', serif;
font-size: 1.2rem;
font-weight: bold;
margin-left: 3rem;
margin-right: 3rem;
}

/*footer*/
.somecontainer {
display: flex;
justify-content: center;

}
/*so me styling*/
.fa {
    padding: 8px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: black;
    color: white;
}

.fa-twitter {
    background: black;
    color: red;
}

.fa-instagram {
    background: black;
    color: white;
}

.fa-flickr {
    background: black;
    color: white;
}

/*Media queries*/

@supports (grid-area: auto) {
@media screen and (min-width: 50em) {

html {
font-size: .7em;
}

/*TYPOGRAFI*/
.h1b {
font-size: 3.5rem;
}

.p1b {
font-size: 1.5rem;
}

.h2b {
font-size: 1.3rem;
}

/*CONTENT*/
.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.l1b {
    grid-column: 1/2;
    grid-row: 2/3;
}
.l3b {
    grid-column: 4/5;
    grid-row: 2/3;
}
.l4 {
    grid-column: 2/4;
    grid-row: 2/3;
}

}
}
